<script>
$(document).ready(function() {
	$("#crawl-navbar").addClass("active");
	$("#crawl_items_table").DataTable();

	$("#crawls_form").submit(function(){
		$(".collection_dropdown").attr('disabled',true);
		$(".crawl_source_id_input").attr('disabled',true);
				
		return true;	
	});

	$('#crawl_items_table')
        .on( 'draw.dt',  function () { 
		reset_datatable_controls();
	} ).dataTable();
	reset_datatable_controls();

}); 

function reset_datatable_controls(){

		$(".apo_dropdown").change(function(){
			id = $(this).attr('id').replace("apo_list_","");

	    	$("#save_"+id).removeClass();

			if( $("#apo_list_"+id).val()==null || $("#apo_list_"+id).val().length==0){
				$("#save_apo_"+id).addClass('save_apo');
		    } else {
				$("#save_apo_"+id).addClass('glyphicon glyphicon-floppy-save save_apo');
			}
		
		});
		
		$(".save_apo").click(function (){
			id = $(this).attr('id').replace("save_apo_","");
			apo_id = $("#apo_list_"+id).val();
			
			$.ajax({
		    	
		        url: "/crawls/update_apo",
		        type: 'get',
				data : {
					id : id,
					format : "json",
					apo_id : apo_id
				},
				success : function (result) {
			   		$("#save_apo_"+id).removeClass();
		    		$("#save_apo_"+id).addClass('glyphicon glyphicon-floppy-saved text-success save_apo');
			    },
			    error:function (results){   		   		
			    	$("#save_apo_"+id).removeClass();
			    	$("#save_apo_"+id).addClass('glyphicon glyphicon-floppy-saved text-danger save_apo');
		    	}
		    });
		});
	
		$(".collection_dropdown").change(function(){
			id = $(this).attr('id').replace("collection_list_","");

	    	$("#save_"+id).removeClass();

			if( $("#collection_list_"+id).val()==null || $("#collection_list_"+id).val().length==0){
				$("#save_collection_"+id).addClass('save_collection');
		    } else {
				$("#save_collection_"+id).addClass('glyphicon glyphicon-floppy-save save_collection');
			}
		
		});
		
		$(".save_collection").click(function (){
			id = $(this).attr('id').replace("save_collection_","");
			collection_id = $("#collection_list_"+id).val();
			
			$.ajax({
		        url: "/crawls/update_collection",
		        type: 'get',
				data : {
					id : id,
					format : "json",
					collection_id : collection_id
				},
				success : function (result) {
			   		$("#save_collection_"+id).removeClass();
				    $("#save_collection_"+id).addClass('glyphicon glyphicon-floppy-saved text-success save_collection');
			    },
			    error:function (results){   		   		
			    	$("#save_collection_"+id).removeClass();
			    	$("#save_collection_"+id).addClass('glyphicon glyphicon-floppy-saved text-danger save_collection');
		    	}
		    });
		});

		$('.crawl_source_id_input').keypress(function(e){
	    	if ( e.which == 13 ){
	    		e.preventDefault();
	    		id = $(this).attr('id').replace("crawl_source_id_","");
				$("#save_crawl_source_id_"+id).click();
	    	} 
		});

		$(".edit_crawl_source_id").click(function (){
			id = $(this).attr('id').replace("edit_crawl_source_id_","");

			$(this).hide();
			$("#crawl_source_id_"+id).attr('readonly',false);
			$("#save_crawl_source_id_"+id).show();
			$("#cancel_crawl_source_id_"+id).show();
		});
		
		$(".cancel_crawl_source_id").click(function (){
			id = $(this).attr('id').replace("cancel_crawl_source_id_","");
			
			$("#crawl_source_id_"+id).val( $("#crawl_original_source_id_"+id).val());
			reset_source_ids_controls(id);
		});
		
		$(".save_crawl_source_id").click(function (){
			id = $(this).attr('id').replace("save_crawl_source_id_","");
			new_source_id_val = $("#crawl_source_id_"+id).val().trim();
			
			if(new_source_id_val.length==0 || new_source_id_val.indexOf(' ')>-1){
				$("#crawl_source_id_"+id).tooltip("Source id can't be empty");
				return;
			}
			
			console.log(new_source_id_val);
			$.ajax({
		    	
		        url: "/crawls/update_source_id",
		        type: 'get',
				data : {
					id : id,
					format : "json",
					source_id : new_source_id_val
				},
				success : function (result) {
		    		$("#crawl_source_id_"+id).val( new_source_id_val);
    				$("#crawl_original_source_id_"+id).val( new_source_id_val);
					reset_source_ids_controls(id);
			    },
			    error:function (results){   		   		
					$("#crawl_source_id_"+id).val( $("#crawl_original_source_id_"+id).val());
				}
		    });
		});

}

function reset_source_ids_controls(id){
	$("#crawl_source_id_"+id).attr('readonly',true);
	$("#edit_crawl_source_id_"+id).show();
	$("#save_crawl_source_id_"+id).hide();
	$("#cancel_crawl_source_id_"+id).hide();
}

</script>

<div align="right">
	<a href="/crawls/sync" class="btn btn-default"  >Sync</a>
</div>
<br/>

<%= form_tag({controller: "crawls", action: "do_action", }, method: "get", id: 'crawls_form') do %>

<div class="panel panel-primary">
	<div class="panel-body">
		<table id="crawl_items_table">
			<thead>
				<tr>
					<th>Check</th>
					<th>Druid</th>
					<th>Job Directory</th>
					<th width="300px">Source Id</th>
					<th>Admin Policy</th>
					<th>Collection</th>
				</tr>
			</thead>
			<tbody>
				<% @crawls.each_with_index do |crawl_item, crawl_item_id| %>
				<tr>
					<td> <% if crawl_item.druid_id.nil? or crawl_item.druid_id.blank? then%>
					<%= check_box_tag "crawls[]", crawl_item.id %>
					<% end %> </td>
					<td> <% unless crawl_item.druid_id.nil? or crawl_item.druid_id.blank? then%> 
						<a href='<%= format_druid(crawl_item.druid_id) %>' target='_blank' ><%= crawl_item.druid_id.sub('druid:','')%></a> 
						<%end%> 
					</td>

					<td><%= format_job_directory(crawl_item.job_directory)%> </td>

					<td>
					<div>
						<%= text_field_tag "crawl_source_id_#{crawl_item.id}", "#{crawl_item.source_id}",  class: "crawl_source_id_input form-control", readonly:true, style:"display:inline-block; width:80%"%>
						<%= text_field_tag "crawl_original_source_id_#{crawl_item.id}", "#{crawl_item.source_id}",  class: "crawl_source_id_input hidden"%>
						<% if crawl_item.druid_id.nil? or crawl_item.druid_id.blank? then%>
							<span class="glyphicon glyphicon-pencil edit_crawl_source_id" id="edit_crawl_source_id_<%= crawl_item.id%>" ></span>
							<span class="glyphicon glyphicon-ok text-success save_crawl_source_id" style="display:none;" id="save_crawl_source_id_<%= crawl_item.id%>" ></span>
							<span class="glyphicon glyphicon-remove text-danger cancel_crawl_source_id" style="display:none;" id="cancel_crawl_source_id_<%= crawl_item.id%>" ></span>
						<% end %>
					</div></td>

					<td> 
						<% if crawl_item.druid_id.nil? or crawl_item.druid_id.blank? then%>
							<%= select_tag("apo_list_#{crawl_item.id}", options_for_select(@apos_list, crawl_item.apo_id), class:"apo_dropdown", :prompt => "Please select") %> 
							<span> <span id="save_apo_<%= crawl_item.id%>"  class="save_apo" /> </span> 
						<% else %>
							<%= raw format_apo(crawl_item.apo_id, @apos_list) %>
						<% end %> 
					</td>

					<td> 
						<% if crawl_item.druid_id.nil? or crawl_item.druid_id.blank? then%>
							<%= select_tag("collection_list_#{crawl_item.id}", options_for_select(@collections_list, crawl_item.collection_id), class:"collection_dropdown", :prompt => "Please select") %> 
							<span> <span id="save_collection_<%= crawl_item.id%>"  class="save_collection" /> </span> 
						<% else %>
							<%= raw format_collection(crawl_item.collection_id, @collections_list) %>
						<% end %> 
					</td>

				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<%= select_tag(:action_list, options_for_select(['Register']), class:"btn btn-default  dropdown-toggle") %>
<%= submit_tag("Go", class:"btn btn-default") %>

<% end %>

