<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>

<script>
	$().ready(function() {
		$("#seeds-navbar").addClass("active");
		$("#seedt_lists").DataTable();

		$(".toggle_btn").click(function() {
			$("#source_xml_div_" + $(this).attr('value')).toggleClass('hidden');
			return false;
		});

	});
</script>

<div align="right">
<a href="/importer/index" class="btn btn-default"  >Import data</a>
</div>
<br/>
<%= form_tag({controller: "seeds", action: "do_action"}, method: "get") do %>

<div class="panel panel-primary">
  <div class="panel-body">
 	<table id="seedt_lists">
		<thead>
			<tr>
				<th>Check</th>
				<th>Druid</th>
				<th>Uri</th>
				<th>Collection</th>
				<th>Embargo</th>
				<th width="400px">Source XML</th>
			</tr>
		</thead>
		<tbody>
			<% @seeds.each_with_index do |seed, seed_id| %>
				<tr>
					<td>
						<% if seed.druid_id.nil? or seed.druid_id.blank? then%>
						 <%= check_box_tag "seeds[]", seed.id %>
						<% end %>
					</td>
					<td>
						<% unless seed.druid_id.nil? and seed.druid_id.blank? then%>
					 	<a href='<%= Rails.configuration.argo_catalog%><%= seed.druid_id%>' target='_blank' ><%= seed.druid_id%></a>
						<%end%>
					</td>
					<td><%= seed.uri%></td>
					<td><%= seed.collection_id%></td>
					<td><%= seed.embargo%></td>
					<td>
					<% unless seed.source_xml.blank? then %>
						<a class="toggle_btn" value="<%= seed_id%>" href="#"> Show </a>
						<div id="source_xml_div_<%= seed_id%>"  class="hidden">
						<pre>
			      			<%= Nokogiri::XML(seed.source_xml).to_xml %>
			      			</pre>
						</div>
					<%	end %>
					</td>

				</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>
<%= select_tag(:action_list, options_for_select(['Register','Delete']), class:"btn btn-default  dropdown-toggle") %>
<%= submit_tag("Go", class:"btn btn-default") %>

<% end %>
